
    body {
        background-color: #6362bb;
    }
    .box{
        color: #fff;
        padding: 20px;
        display: none;
        margin-top: 20px;
    }
    h3{
    	color: white;
    }
    div{
    	color: white
    }
    #p1{
    	font-size: 50PX;
    	color: white
    }